<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stock Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCproyect.styles.css" asp-append-version="true" />

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- jQuery and form validation scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <header>
        @if (!(ViewContext.RouteData.Values["controller"]?.ToString() == "Login"
        && ViewContext.RouteData.Values["action"]?.ToString() == "Login"))
        {
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow mb-4">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Stock Manager</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        </ul>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownSessionButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Session
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownSessionButton1">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">
                                        <i class="fas fa-users me-2"></i>Users List
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="DataBaseBackUp" onclick="return confirm('Are you sure you want to backup the database?')">
                                        <i class="fas fa-database me-2"></i>Database Backup
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="DataBaseRestore" onclick="return confirm('Are you sure you want to restore the database?')">
                                        <i class="fas fa-upload me-2"></i>Restore Backup
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Logout" onclick="return confirm('Are you sure you want to logout from this account?')">
                                        <i class="fas fa-sign-out-alt me-2"></i>Log out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        }
    </header>

    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-light border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Stock Manager | <a href="@Url.Action("Privacy", "Home")">Privacy Policy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
