@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var errorMessage = ViewBag.ErrorMessage as string;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error View</title>
</head>
<body>

    <div class="container mt-5">
        <script>
            let errorMessage = '@errorMessage';

            if (errorMessage) {
                alert(errorMessage);
            }
        </script>

        <div class="alert alert-danger mt-3">
            <strong>Error:</strong> @errorMessage
        </div>
    </div>
</body>
</html>
